@font-face {
  font-family: poppinsBold;
  src: url(../fonts/poppins/Poppins-Bold.otf);
}
@font-face {
  font-family: poppinsSemibold;
  src: url(../fonts/poppins/Poppins-SemiBold.otf);
}
@font-face {
  font-family: poppinsMedium;
  src: url(../fonts/poppins/Poppins-Medium.otf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../fonts/poppins/Poppins-Regular.otf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../fonts/poppins/Poppins-Light.otf);
}
@font-face {
  font-family: montesratRegular;
  src: url(../fonts/poppins/Montserrat-Regular.otf);
}
.loader-theme {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 999;
	align-items: center;
	justify-content: center;
	background-color: #0c005c;
}
h1{
  font-size: 65px;
  font-family: poppinsBold;
}
h2{
  font-size: 52px;
  font-family: poppinsBold;
}
.cw{
  color: white;
}
.cb{
  color: black;
}
.header-active{
  background: white !important;
  height: 70px;
  padding: 10px 30px !important;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.12);
}
.header-active-link{
  color: #74BDEA !important;
}

/* fixed-bg */
.fixed-bg{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  background-image: url(../images/common-bg.png);
  top: 0;
  left: 0;
  z-index: 0;
}
.top-section{
  width: 100%;
  position: relative;
  background: url("./../images/main-dark\ bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 150px;
}
.container{
  max-width: 1296px !important;
}
.top-container-pt{
  padding-top: 120px;
}
.top-section-title{
  font-size: 66px;
  font-family: poppinsBold;
  margin-top: 8px;
  text-shadow: 0 0 12px rgba(255,255,255,0.5);
}
.pl-24{
  font-size: 24px;
  font-family: poppinsLight;
  color: white;
}
.top-section-subtitle{
  font-size: 25px;
  font-family: poppinsLight;
  color: white;
  margin-top: 36px;
}
.pl-19{
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 26px;
}
.mt-30{
  margin-top: 30px;
}
.pltform-title{
  font-size: 28px;
  font-family: poppinsBold;
}
.pltform-title > .text-slider{
  color: #F174AC;
  text-shadow: none;
  max-height: 48px;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
  overflow-y: hidden;
}
.swiper-text-slide{
  width: fit-content;
}

.defi-text{
  font-size: 20px;
  font-family: poppinsMedium;
  margin: 36px 0 20px 0;
}
.top-section-lines{
  position: absolute;
  top: 50%;
  left: 0;
}
.line-1{
  max-width: 150px;
}
.line-2{
  max-width: 250px;
}
.line-3{
  max-width: 220px;
}
.cutting-line-text{
  color: rgba(244, 244, 244, 0.8);
}
.top-header-logo{
  max-height: 56px;
}
.top-header-logo-active{
  max-height: 38px;
}
.contact-button-active{
  height: 50px !important;
  max-width: 170px !important;
  font-size: 16px !important;
}
.tribeone-title{
  max-height: 46px;
  margin-left: 12px;
}
.top-section-daigram > svg{
  min-height: 510px;
  min-width: 570px;
}

.tibeone-diagram-section{
  min-height: fit-content;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background-image: url(../images/light\ background\ bg.svg), url(../images/multicolor-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 46px 0;
}
.laptop-logo{
  transform: translate(3%, -10%);
}
.ecosystem-section{
  position: relative;
  min-height: fit-content;
  width: 100%;
  background-image: url(../images/light\ background\ bg.svg), url(../images/multicolor-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 46px 0;
}
.title-bottom-line{
  height: 10px;
  border-radius: 8px;
  width: 40px;
  margin-top: 10px;
}
.title-bottom-line-2{
  width: 140px;
  margin-top: 10px;
  margin-left: 18px;
}
.title-line-pink{
  background: #F174AC;
}
.title-line-white{
  background: white;
}
.ecosystem-gif{
  max-height: 470px;
  margin-top: 12px;
  animation: upDown 4s linear infinite;
}
@keyframes upDown{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(8px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(-8px);
  }
  100%{
    transform: translateY(0px);
  }
}
.whitelisting-button{
  height: 60px !important;
  width: 280px !important;
  font-size: 16px;
  background: linear-gradient(120deg, #FFFF00, #FF3EA5FF) !important;
  color : #000080 !important;
  transition: all 0.3s;
  /* font-weight: 900; */
  font-family: poppinsSemibold !important;
}
.whitelisting-button:hover{
  color: white !important;
  font-weight: 400;
}
.buy-button-container{
  display: grid;
  place-items: left;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 28px;
  max-width: 600px;
}

.buy-token-button{
  position: relative;
  height: 60px;
  max-width: 280px;
  width: 100%;
  background: linear-gradient(145deg, #33BEA6, #AF4CDD);
  color: white;
  font-size: 16px;
  font-family: poppinsSemiBold;
  outline: none;
  border: none;
  border-radius: 15px;
  z-index: 1;
  overflow-x: hidden;
}
.buy-token-button:focus{
  outline: none;
}
.buy-token-button::after{
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #3D6ED7, #1DBCAD);
  border-radius: 15px;
  z-index: -1;
  transition: all 0.3s;
  opacity: 0;
  overflow-y: hidden;
}
.pancake-btn::after{
  right: -100%;
}
.uniswap-btn::after{
  left: -100%;
}
.uniswap-btn:hover::after{
  left: 0;
  opacity: 1;
}
.pancake-btn:hover::after{
  right: 0;
  opacity: 1;
}
.buy-haka-dp{
  background: rgba(0, 0, 0, 0);
}
.buy-haka-dp .dropdown{
  height: 135px;
  max-width: 280px;
  width: 100%;
  position: absolute;
  bottom: -138px;
  /* background: #F174AC; */
  background: #74BDEA;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.buy-haka-dp:hover .dropdown, .dropdown:hover{
  opacity: 1;
  visibility: visible;
}
.buy-haka{
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown a{
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: poppinsSemiBold;
  padding-left: 18px;
}
.dropdown a:hover{
  background: #FFF;
  color: #F174AC;
}
.uniswap-logo{
  height: 30px;
}
.pancake-logo{
  height: 22px;
}
.buy-haka-logo{
  height: 30px;
  width: 40px;
}


/* product section */
.product-section{
  position: relative !important;
  min-height: 100vh;
  width: 100%;
  padding: 46px 0;
  background: url(../images/dark-background-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.3s;
}
.rotated-bg{
  background: url(../images/dark-background-bg.png), url(../images/rotated-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.switch {
  position: relative;
  height: 74px;
  max-width: 480px;
  width: 100%;
  padding: 5px 7px !important;
  border-radius: 52px;
  background: white;
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 50px;
}
.switch label{
  margin-bottom: 0;
}

.switch-label {
  position: relative;
  z-index: 2;
  /* float: left; */
  width: 226px;
  height: 100%;
  border-radius: 52px;
  line-height: 26px;
  font-size: 24px;
  font-family: poppinsRegular;
  color: #000000;
  cursor: pointer;
  background: transparent;
}

.switch-input:checked + .switch-label {
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 254px;
  /* Note: left: 50%; doesn't transition in WebKit */
}
.switch-input:checked + .switch-label{
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.50);
}
.switch-selection {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 7px;
  display: block;
  width: 220px;
  height: 64px;
  border-radius: 52px;
  background-color: #7655A2;
  color: white;
  -webkit-box-shadow: -30px 30px 30px rgba(0,0,0,0.16);
  box-shadow: -30px 30px 30px rgba(0,0,0,0.16);
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
.switch-borrow:checked ~ .switch-selection{
  background: linear-gradient(120deg, #44085C, #37A39C);
}
.wistia_responsive_padding{
  border-radius: 16px !important;
}
.mobile-cover{
  max-height: 420px;
  max-width: 240px;
}
.mobile-app-swiper{
  max-width: 240px;
  height: 452px;
}
.mobile-app-wrapper{
  max-height: 426px;
  background: url(./../images/mobile-cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-mobile-slide{
  padding: 10px 28px;
  margin: 0;
}
.mobile-img{
  max-height: 404px;
}
.swiper-mobile-slide{
  margin-right: 0 !important;
}
/* app switch */
.app-switch{
  height: 52px;
  max-width: 330px;
  margin-top: 5px;
  margin-bottom: 12px;
}
.switch-app-label {
  position: relative;
  z-index: 2;
  /* float: left; */
  width: 226px;
  height: 100%;
  border-radius: 52px;
  line-height: 26px;
  font-size: 17px;
  font-family: poppinsRegular;
  color: #000000;
  cursor: pointer;
  background: transparent;
}

.switch-input-app:checked + .switch-app-label {
  color: white;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input-app:checked + .switch-label-borrow-app ~ .switch-app-selection {
  left: 165px;
  /* Note: left: 50%; doesn't transition in WebKit */
}
.switch-input-app:checked + .switch-app-label{
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.50);
}
.switch-app-selection {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 7px;
  display: block;
  width: 158px;
  height: 42px;
  border-radius: 52px;
  background-color: #7655A2;
  color: white;
  -webkit-box-shadow: 8px 8px 8px  rgba(0,0,0,0.16);
  box-shadow: 8px 8px 8px  rgba(0,0,0,0.16);
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
.switch-borrow-app:checked ~ .switch-app-selection{
  background: linear-gradient(120deg, #44085C, #37A39C);
}

.swiper-borrow-last-img{
  display: none;
}
.show-mobile-borrow-last-img{
  display: flex !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px;

}
.swiper-pagination-bullet {
	height: 9px;
	width: 9px;
  background: white;
}

.swiper-pagination-bullet-active {
	opacity: 0.9;
	background: rgba(255, 84, 161, 1);
}


.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}

.swiper-next-prev-button{
  outline: none;
  height: 34px !important;
  width: 34px !important;
  border-radius: 50%;
  background: rgba(255, 84, 161, 1) !important;
  color: white !important;
  top: 50% !important;
	transform: translateY(-50%) !important;
  transition: all 0.3s;
}
.swiper-button-next{
	right: 15%;
}
.swiper-button-prev{
  left: 15%;
}
.swiper-next-precv-icon{
  max-height: 18px !important;
}
.swiper-next-prev-button:hover{
  box-shadow: 0 0 16px rgba(255, 84, 161, 0.4);
}
.video-bottom-note{
  position: relative;
  height: 48px;
  max-width: 400px;
  width: 100%;
  background: linear-gradient(120deg, #74BDEA, #95D4CC);
  font-size: 16px;
  font-family: poppinsRegular;
  color: white;
  margin-top: 30px;
  outline: none !important;
  border: none;
  border-radius: 16px;
  overflow-x: hidden;
  z-index: 0;
}
.video-bottom-note::before{
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  max-width: 100%;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(120deg, #CF6BA9, #330269);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}
.video-bottom-note:hover::before{
  left: 0;
  opacity: 1;
}
.product-card{
  position: relative !important;
  height: 390px;
  max-width: 280px;
  width: 100%;
  border-radius: 38px;
  background-size: cover;
  background-position: center;
  background-color: white;
  overflow: hidden;
  box-shadow: 20px 20px 36px rgba(0, 0, 0, 0.16);
  transition: all 0.8s;
  cursor: pointer;
  transform-style: preserve-3d
}
.product-card:hover{
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.20);
}
.card-mt{
  margin-top: 60px;
}
.product-card-top-container{
  position: absolute;
  top: 25px;
  height: 130px;
  width: 100%;
  background: transparent;
  transition: all 0.8s;
  padding: 0 30px;
  opacity: 1;
}
.product-card:hover .product-card-top-container{
  top: -155px;
  opacity: 0;
}
.product-card-bottom-container{
  max-width: 280px;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
  height: 80px;
  background: transparent;
  transition: all 0.8s;
  margin: auto;
  opacity: 1;
}
.product-card:hover .product-card-bottom-container{
  bottom: -105px;
  opacity: 0;
}
.product-card-top-subtitle{
  font-size: 22px;
  font-family: poppinsRegular;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.product-card-title{
  font-size: 30px;
  font-family: poppinsSemiBold;
  margin-top: 36px;
  transform: translateZ(20px)
}

.product-card-button{
  height: 60px;
  width: 180px;
  border-radius: 52px;
  outline: none !important;
  border: none;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 18px;
  font-family: poppinsRegular;
  background: black;
}
.card-details{
  height: 100%;
  width: 100%;
  background:black;
  padding: 24px;
  color: white;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  text-align: left;
}
.product-card:hover .card-details{
  opacity: 1;
}
.card-descreption-subtitle{
  font-size: 22px;
  font-family: poppinsRegular;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  opacity: 0;
  transition: all 0.8s;
  transform: translateZ(20px)
}
.card-descreption{
  font-size: 16px;
  font-family: poppinsRegular;
  margin-top: 30px;
  opacity: 0;
  transition: all 0.7s;
  transform: translateZ(90px)
}
.card-descreption > div{
  margin-bottom: 10px;
}
.product-card:hover .card-descreption{
  opacity: 1;
  transition: all 0.2s;
} 
.product-card:hover .card-descreption-subtitle{
  opacity: 1;
  transition: all 0.2s;
}
.card-details-subtitle{
  font-size: 18px;
  font-family: poppinsBold;
  margin-top: 8px;
}

.loan-card-1{
  background-image: linear-gradient(215deg, rgba(242, 232, 255, 0.56), rgba(242, 232, 255, 1)), url('./../images/polka-loans.png');
}
.loan-card-1-subtitle{
  color: #A465A9;
  border-color: #A465A9;
}
.loan-card-1-button, .loan-card-1-details{
  background: #A465A9;
}

.loan-card-2{
  background-image: linear-gradient(215deg, rgba(242, 232, 255, 0.56), rgba(242, 232, 255, 1)), url('./../images/mana-loans.png');
}
.loan-card-2-subtitle{
  color: #F174AC;
  border-color: #F174AC;
}
.loan-card-2-button, .loan-card-2-details{
  background: #F174AC;
}

.loan-card-3{
  background-image: linear-gradient(215deg, rgba(242, 232, 255, 0.56), rgba(242, 232, 255, 1)), url('./../images/laiti-loanes.png');
}
.loan-card-3-subtitle{
  color: #95D4CC;
  border-color: #95D4CC;
}
.loan-card-3-button, .loan-card-3-details{
  background: #95D4CC;
}

.loan-card-4{
  background-image: linear-gradient(215deg, rgba(242, 232, 255, 0.56), rgba(242, 232, 255, 1)), url('./../images/NFT-lending.png');
}
.loan-card-4-subtitle{
  color: #74BDEA;
  border-color: #74BDEA;
}
.loan-card-4-button, .loan-card-4-details{
  background: #74BDEA;
}



.borrow-product-card{
  position: relative;
  height: 310px;
  max-width: 320px;
  width: 100%;
  border-radius: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.16);
  transition: all 0.8s;
  cursor: pointer;
  transform-style: preserve-3d
}
.margin-x-22{
  margin: 0 22px 0 22px;
}
.borrow-product-card:hover{
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.20);
}
.investment-card-bottom-container{
  max-width: 100%;
  width: 100%;
  height: 66px;
  opacity: 1;
}
.investment-card-top-container{
  height: 100px;
  top: 20px;
  opacity: 1;
}
.investment-card-title{
  margin-top: 20px;
}
.investment-card-btn{
  max-height: 56px;
  max-width: 170px;
}

.investment-card-details{
  font-size: 16px;
}
.investment-card-details > div{
  margin-top: 26px;
}
.investment-card-details > div > div{
  margin-bottom: 12px;
}
.borrow-product-card:hover .investment-card-top-container{
  top: -110px;
  opacity: 0;
}
.borrow-product-card:hover .investment-card-bottom-container{
  bottom: -75px;
  opacity: 0;
}
.borrow-product-card:hover .card-details{
  opacity: 1;
}
.borrow-product-card:hover .card-descreption-subtitle{
  opacity: 1;
}
.investment-card-1{
  background-position-y: 160px;
  background-image: linear-gradient(35deg, #B1FFF5, rgba(255, 255, 255, 0.5) 280px), url('./../images/borrow-line-1.png');
}
.investment-card-1-subtitle{
  color: #95D4CC;
  border-color: #95D4CC;
}
.investment-card-1-button, .investment-card-1-detail{
  background: #95D4CC;
}

.investment-card-2{
  background-position-y: 120px;
  background-image: linear-gradient(35deg, #A5DDFF, rgba(255, 255, 255, 0.5) 280px), url('./../images/borrow-line-2.png');
}
.investment-card-2-subtitle{
  color: #74BDEA;
  border-color: #74BDEA;
}
.investment-card-2-button, .investment-card-2-detail{
  background: #74BDEA;
}

.investment-card-3{
  background-position-y: 16px;
  background-image: linear-gradient(35deg, #FFC5DE, rgba(255, 255, 255, 0.5) 160px), url('./../images/borrow-line-3.png');
}
.investment-card-3-subtitle{
  color: #F174AC;
  border-color: #F174AC;
}
.investment-card-3-button, .investment-card-3-detail{
  background: #F174AC;
}
.investment-card-mt{
  margin-top: 60px;
}
.product-card, .borrow-product-card{
  opacity: 0;
  display: none;
  transition: 0.3s;
}
.show-card-container{
  opacity: 1;
  display: block;
}
.investment-card-container{
  transition: all 0.2s;
}
/* .show-investment-card-container{
  height: 450px;
} */


/* footer */
.bottom-section{
  padding: 46px 0 100px 0;
  background: white;
  position: relative;
}
.bottom-logo{
  max-height: 78px;
}
.tribeone-title-black{
  max-height: 78px;
  margin-left: 16px;
}
.bottom-links > li > a{
  color: #8D8D8D;
  transition: all 0.2s;
  font-size: 20px;
  font-family: poppinsLight;
}
.bottom-links-mx{
  margin: 0 60px;
}
.bottom-links > li > a:hover{
  color: #72BCE9;
}
.contact-button{
  background: linear-gradient(120deg, #74BDEA, #95D4CC);
	color: #fff;
	position: relative;
	z-index: 1;
  font-size: 20px;
  font-family: poppinsMedium;
  padding: 0 20px;
  height: 58px;
  max-width: 200px;
  width: 100%;
  outline: none !important;
  border: none;
  border-radius: 29px;
  overflow: hidden;
  z-index: 1;
}
.contact-button::after{
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  background: linear-gradient(120deg, #CF6BA9, #330269);
	color: #fff;
  height: 58px;
  max-width: 200px;
  width: 100%;
  border-radius: 21px;
  transition: all 0.3s;
  -webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
  z-index: -1;
  opacity: 0;
  padding: 0;
}
.contact-button:hover::after{
  left: 0;
  opacity: 1;
}




/* shaka-section */
.shaka-section{
  position: relative;
  min-height: 100vh;
  padding: 46px 0;
  background: white;
  background-image: url("./../images/light\ background\ bg.svg");
  background-size: cover;
  background-attachment: fixed;
}
.shaka-img-card{
  padding: 30px 25px;
  height: 510px;
  width: 510px;
  background: linear-gradient(120deg, #F174AC, #7655A2, #95D4CC);
  border-radius: 30px;
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.2);
}
.token-img{
  max-height: 490px;
}
.token-logo-container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 155px;
	height: 155px;
	background-color: transparent;
	border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.token-logo-container img{
  max-height: 130px;
  max-width: 130px;
  animation : roundToken 8s infinite linear;
}
@keyframes roundToken {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
.shaka-img-card figure{
  margin-bottom: 0;
}
.token-descreption-container{
  max-width: 50%;
  width: 100%;
}
.token-list-box figure {
	margin-bottom: 8px;
	max-width: 50px;
  max-width: 50px;
}
.token-list-box h4 {
  font-size: 18px;
	color: black;
	margin-bottom: 2px;
  font-family: montesratRegular;
  font-weight: 600;

}
.token-list-box p {
  font-size: 14px;
	color: black;
  font-family: poppinsLight;
}







/* advisor-section */

.advisor-section{
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.advisor-card-container-mt{
  margin-top: 60px;
  padding-bottom: 60px;
}
.advisor-card{
  max-width: 360px;
  width: 100%;
  height: 100%;
  min-height: 550px;
  padding: 16px 22px 30px 22px;
  border-radius: 30px;
  background: #F6F9FF;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.12);
}
.advisor-middle-card{
  margin: 0 55px 0 55px;
}
.advisor-img{
  max-height: 240px !important;
  /* max-width: 316px !important; */
  border-radius: 20px;
}
.advisor-name{
  font-size: 23px;
  font-family: poppinsRegular;
  color: black;
  line-height: 28px;
}
.advisor-designation{
  color: #979797;
  font-size: 20px;
  font-family: poppinsLight;
  margin-bottom: 16px;
  line-height: 26px;
}
.advisor-linkdin-icon{
  max-height: 32px;
}
.previous-company-container{
  max-width: 100px;
  width: 100%;
  height: 48px;
  background: white;
  padding: 3px 5px;
}
.previous-company-container > img {
  max-height: 48px;
  max-width: 98px;
  width: 100%;
}
.advisor-descreption{
  font-size: 15px;
  font-family: poppinsLight;
  color: #656464;
  margin-top: 18px;
  line-height: 22px;
}




/* diffrence-table-section */
.diffrence-table-section{
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 46px 50px;
  background: white;
  background-image: url("./../images/light\ background\ bg.svg");
  background-size: cover;
  background-attachment: fixed;
}
.diffrence-diagram{
  max-height: 540px;
}
.table-container-mt{
  margin-top: 44px;
}
.diffrence-table{
  /* height: 590px; */
  width: 830px;
  background: white;
  padding: 12px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.10);
  margin-left: -30px;
  border-radius: 16px 16px 0 0;
  font-size: 18px;
  font-family: montesratRegular;
  color: #000;
}
.table-logo{
  max-height: 40px;
}
.check-cross-icon{
  max-height: 28px;
  max-width: 28px;
}
.diffrence-table > thead > tr{
  height: 55px;
  border-radius: 16px 16px 0;
}
.diffrence-table > tbody > tr{
  height: 46px;
}
.diffrence-table tbody  tr td{
  text-align: center;
}
.diffrence-table tbody  tr td:first-child{
  text-align: left;
}
.diffrence-table > thead > tr > td {
  background: white;
  padding: 10px 10px 6px 10px;
}
.diffrence-table > thead > tr > td:first-child {
  width: 500px;
  border-radius: 16px 0 0 0;
}
.diffrence-table  tbody  tr  td:first-child{
  padding: 0 20px 0 60px;
}
.diffrence-table > thead > tr > td:nth-child(2) .diffrence-table > tbody > tr > td:nth-child(2) {
  text-align: center;
  width: 60px;
}
.diffrence-table > thead > tr > td:last-child{
  width: 260px;
  border-radius: 0 16px 0 0;
}
.table-bg-pink{
  background: #FFF8FB;
}
.table-bg-white{
  background: white;
}





/* roadmap section */
.roadmap-section{
  position: relative;
  min-height: fit-content;
  width: 100%;
  background: url(../images/light\ background\ bg.svg), url(../images/multicolor-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 46px 120px 30px 120px;
  z-index: 0;
}
.roadmap-continer::-webkit-scrollbar {
  display: none;
}

.roadmap-continer{
  position: relative;
  overflow-x: scroll;
  padding: 60px 40px 60px 40px;
  transition: all 0.3s;
}
.roadmap-middle-border{
  min-width: 1740px;
  border-bottom: 7px solid #F5F5F5;
  margin: 56px 0;
  margin-left: 214px;
}
.roadmap-top-container{
  position: relative;
  height: 160px;
  min-width: 460px;
  box-shadow: 18px 18px 40px rgba(0, 0, 0, 0.20);
  background: linear-gradient(120deg, #F174AC, #7655A2, #95D4CC);
  border-radius: 30px;
  margin-right: 90px;
}
.roadmap-top-container::before{
  position: absolute;
  content: "";
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: linear-gradient(45deg, #F174AC, #7655A2, #95D4CC);
  border: 8px solid white;
}
.roadmap-top-container::after{
  position: absolute;
  content: "";
  left: 50%;
  bottom: -22px;
  transform: translateX(-50%);
  width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 22px solid #7655A2;
}
.year-container{
  height: 100%;
  width: 120px;
  min-width: 100px;
  border-right: 1px solid #D5D5D5;
  display: grid;
  place-items: center;
  padding: 16px;
  font-size: 36px;
  font-family: poppinsBold;
  color: white;
  line-height: 40px;
}
.year-container .year{
  font-family: poppinsRegular;
  font-size: 22px;
}
.roadmap-descreption-container{
  padding: 20px;
  height: fit-content;
  width: 100%;
}
.quater-points-title{
  font-size: 18px;
  font-family: poppinsBold;
  color: white;
  margin-bottom: 8px;
}
.quater-points{
  font-size: 15px;
  font-family: poppinsRegular;
  color: white;
  line-height: 30px;
}

.roadmap-bottom-container{
  position: relative;
  height: 160px;
  min-width: 460px;
  box-shadow: 18px 18px 40px rgba(0, 0, 0, 0.20);
  background: linear-gradient(120deg, #F174AC, #7655A2, #95D4CC);
  border-radius: 30px;
  margin-right: 90px;
}
.roadmap-bottom-container::before{
  position: absolute;
  content: "";
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: linear-gradient(45deg, #F174AC, #7655A2, #95D4CC);
  border: 8px solid white;
}
.roadmap-bottom-container::after{
  position: absolute;
  content: "";
  left: 50%;
  top: -22px;
  transform: translateX(-50%);
  width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 22px solid #7655A2;
}
.timeline-button{
  position: absolute;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: rgba(255, 84, 161, 0.5);
  outline: none !important;
  border: none;
  margin-bottom: 14px;
  transition: all 0.3s linear;
  display: grid;
  place-items: center;
  z-index: 500;
  top: 49%;
  transform: translateY(-50%);
}
.timeline-right-button{
  right: -45px;
}
.timeline-left-button{
  position: absolute;
  left: -45px;
}
.timeline-button:hover{
  background: rgba(255, 84, 161, 1);
  box-shadow: 0px 0px 18px rgba(255, 84, 161, 0.4);
}
.roadmap-bottom-1-container{
  margin-left: 270px;
}

.roadmap-top-container-2{
  min-width: 530px;
}
.roadmap-bottom-4-container{
  min-width: 490px;
}
.roadmap-bottom-3-container{
  margin-left: 80px;
}
.roadmap-top-3-container{
  margin-left: 8px;
}

/* .timeline-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.timeline-bg::before{
  position: absolute;
  height: 100%;
  width: 40px;
  background: tr;
  content: "";
  right: 0;
  top: 0;
  z-index: 100;
}
.timeline-bg::after{
  position: absolute;
  height: 100%;
  width: 60px;
  background: linear-gradient(left, rgba(181, 195, 250, 0.0), rgba(181, 195, 250, 0.4));
  background: -webkit-linear-gradient(left, rgba(181, 195, 250, 0.0), rgba(181, 195, 250, 0.4));
  background: -moz-linear-gradient(left, rgba(181, 195, 250, 0.0), rgba(181, 195, 250, 0.4));
  background: linear-gradient(to left, rgba(181, 195, 250, 0.0), rgba(181, 195, 250, 0.4));
  content: "";
  left: 0;
  top: 0;
  z-index: 100;
} */



















.team-bg{
  background-image: url(./../images/dark-background-bg.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}



/* team */
.leader-section{
  position: relative;
  padding-top: 46px;  
}
.team-left-side-br{
  border-radius: 30px 0 0 0;
}
.team-right-side-br{
  border-radius: 0 30px 0 0;
}
.team-bottom-right-side-br{
  border-radius: 0 0 30px 0;
}
.team-bottom-left-side-br{
  border-radius: 0 0 0 30px;
}
.tech-team-title-mt{
  margin-top: 90px;
  position: relative;
}
.team-triblas{
  max-width: 1040px;
}
.tech-team-container, .tech-team-content{
  height: 276px;
}
.tech-team-img{
  max-height: 280px;
}
.team-linkdin-icon{
  max-height: 36px;
  max-width: 36px;
}
.assenture-logo{
  max-width: 60px;
  max-height: 30px;
}
.team-content span {
	font-size: 15px;
	font-family: poppinsRegular;
	color: #fff;
	display: block;
	margin-bottom: 15px;
}


.tech-team-content p {
	font-size: 11px;
}


   

.backers-section{
  position: relative;
  min-height: 300px;
  width: 100%;
  background-image: url(../images/light\ background\ bg.svg), url(../images/multicolor-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 46px 0px 0px 0px;
}
.partner-logo-box{
  height: 150px;
  width: 280px;
  border-radius: 27px;
  border: 1px solid #CECECE;
  display: grid;
  place-items: center;
  background-color: white;
  transition: all 0.6s;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 20px 65px rgba(0, 0, 0, 0.25);
  margin: 20px;
}
.partner-logo-box:hover{
  border: 1px solid #B75757;
  box-shadow: 0 24px 24px rgba(206, 206, 206,0.25);
}



.partner-carousel{
  height: 300px;
  width: 100%;
  margin-top: 80px;
  padding-top: 30px;
}
.partner-pagination{
  bottom: 20px !important;
}
.partner-button-prev{
  height: 44px !important;
  width: 44px !important;
  border-radius: 50%;
  background: rgba(255, 42, 182, 0.4);
  left: 36% !important;
  outline: none !important;
}
.partner-button-prev{
  top: 90%;
}
.partner-button-next{
  top: 90% !important;
}
.swiper-pagination-bullet{
  background: rgba(255, 42, 182, 0.7);
}
.partner-pagination .swiper-pagination-bullet-active{
  background: rgba(255, 42, 182, 1) !important;
}
.partner-button-next{
  height: 44px !important;
  width: 44px !important;
  border-radius: 50%;
  background: rgba(255, 42, 182, 0.4);
  right: 36% !important;
  outline: none !important;
}
.partner-button-prev:hover, .partner-button-next:hover{
  background: rgba(255, 42, 182, 1);
}
.mobile-next-prev-arrow{
  max-height: 20px;
}
.mx-h-120{
  max-height: 124px;
}




/* partner-section */
.partner-section{
  padding-top: 120px;
  padding-bottom: 60px;
}
















@media screen and (min-width: 1160px) and (max-width: 1260px){
	.container {
		max-width: 1140px !important;
	}
  .top-header-logo{
    max-height: 46px;
  }
  .header-active {
    height: 72px;
  }
  .header .header-nav ul li a{
    font-size: 14px;
  }
  .header .header-nav ul li:not(:last-child){
    margin-right: 24px;
  }
  .top-section-title{
    font-size: 54px;
  }
  .top-section-subtitle{
    margin-top: 44px;
  }
  .bsc-bridge-btn{
    max-width: 180px;
    font-size: 14px;
  }
  .pl-24{
    font-size: 18px;
  }
  .pltform-title {
    font-size: 22px;
  }
  .defi-text{
    font-size: 18px;
    margin-top: 40px;
  }
  .pl-19{
    font-size: 16px !important;
  }
  .line-1 {
    max-width: 120px;
  }
  .line-2{
    max-width: 200px;
  }
  .line-3{
    max-width: 180px;
  }
  .top-section-daigram > svg{
    min-height: 440px;
    min-width: 450px;
  }
  .contact-button{
    height: 50px;
    font-size: 18px;
    font-family: poppinsRegular;
  }
  .buy-button-container{
    max-width: 502px;
  }
  .buy-token-button{
    height: 54px;
    max-width: 242px;
    font-size: 14px;
  }
  .buy-haka-dp .dropdown{
    max-width: 242px;
    bottom: -92px;
  }
  .pancake-logo{
    max-height: 26px;
  }
  .uniswap-logo{
    max-height: 36px;
  }
  h2{
    font-size: 40px;
  }
  .diagram{
    margin-top: 25px;
  }
  .diagram > svg{
    max-height: 360px !important;
  }
  .second-section{
    padding: 46px 0 30px 0;
  }
  .ecosystem-gif{
    max-height: 350px;
  }
  .product-section{
    padding: 40px 0;
  }
  .title-bottom-line{
    margin-top: 4px;
  }
  .title-bottom-line-2{
    margin-top: 4px;
  }
  .switch{
    margin-bottom: 40px;
    height: 56px;
    max-width: 330px;
  }
  .app-switch{
    margin-bottom: 12px;
  }
  .switch-label{
    font-size: 19px;
  }
  .switch-selection{
    width: 160px;
    height: 46px;
  }
  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 163px;
  }
  .switch-app-selection {
    height: 46px;
  }

  .section-py{
    padding: 40px 0 !important;
  }
  .diffrence-table-section{
    padding: 40px;
  }
  .shaka-section{
    padding: 40px 0;
    min-height: fit-content;
  }
  .shaka-img-card{
    padding: 0 10px;
    height: 440px;
    width: 450px;
  }
  .token-list-box figure{
    max-width: 32px;
    max-width: 32px;
  }
  .token-list-box h4{
    font-size: 13px;
  }
  .token-list-box p {
    font-size: 12px;
  }
  .shaka-container{
    max-width: 1060px !important;
  }
  .leader-section{
    padding: 40px 0 0 0;
  }
  .sm-container{
    max-width: 1060px !important;
  }
  .flex-full .team-content h3{
    font-size: 20px;
  }
  .flex-full .team-content span{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .team-content h3{
    font-size: 17px !important;
  }
  .team-content span{
    font-size: 13px;
    line-height: 20px;
  }
  .team-content p{
    font-size: 13px;
  }
  .bottom-footer .c-logo {
    max-height: 40px !important;
    max-width: 74px !important;
  }
  .tech-team-content p{
    font-size: 12px;
  }
  .tech-team-title-mt{
    margin-top: 70px;
  }
  .advisor-card{
    max-width: 306px;
    min-height: 508px;
    padding: 16px 19px;
  }
  .advisor-img {
    max-height: 177px !important;
  }
  .bottom-container{
    max-width: 1160px !important;
  }
  .bottom-section{
    padding: 40px 0 60px 0;
  }
  .bottom-links-mx{
    margin: 0 40px;
  }
  .advisor-name{
    font-size: 21px;
  }
  .advisor-designation{
    font-size: 18px;
  }
  .advisor-descreption{
    font-size: 13px;
    line-height: 20px;
  }
  .advisor-section{
    padding-bottom: 60px;
  }
  .bottom-links > li > a{
    font-size: 18px;
  }
  .product-sm-container{
    max-width: 1070px !important;
  }
  .product-card{
    height: 330px;
    max-width: 240px;
  }
  .product-card-top-subtitle{
    font-size: 20px;
  }
  .product-card-title{
    font-size: 26px;
  }
  .product-card-button{
    height: 50px;
    width: 150px;
    font-size: 17px;
  }
  .product-card-bottom-container{
    height: 60px;
  }
  .card-descreption{
    font-size: 14px;
  }
  .card-details-subtitle{
    font-size: 20px;
  }
  .bottom-logo{
    max-height: 60px;
  }


  /* table */
  .diffrence-table-section{
    padding: 40px 90px;
    min-height: fit-content;
  }
  .diffrence-table > thead > tr > td:first-child {
    width: 400px;
  }
  .diffrence-table tbody tr td:first-child{
    padding: 0 20px 0 30px;
    width: 400px;
  }
  .diffrence-table{
    width: 630px;
    font-size: 14px;
  }
  .diffrence-table > tbody > tr{
    height: 36px;
  }
  .diffrence-table > thead > tr{
    height: 42px;
  }
  .check-cross-icon{
    max-height: 22px;
    max-width: 22px;
  }
  .diffrence-table > thead > tr > td{
    /* padding: 0 20px; */
    width: fit-content;
  }
  .diffrence-table > thead > tr > td{
    padding: 0 10px !important;
  }
  .table-logo{
    min-height: 20px;
    min-width: 20px;
  }
  .token-logo-container{
    max-width: 100px;
  }
  .mobile-app-swiper {
    height: 400px;
  }
  .mobile-app-wrapper{
    height: 370px;
  }
  .mobile-img{
    height: 348px;
  }
  .swiper-mobile-slide{
    padding: 10px 43px;
  }
}

























@media screen and (min-width: 1260px) and (max-width: 1400px){
	.container {
		max-width: 1180px !important;
	}
  .header-active {
    height: 72px;
  }
  .top-section-title{
    font-size: 44px;
  }
  .pl-24{
    font-size: 22px;
  }
  .pltform-title {
    font-size: 22px;
  }
  .defi-text{
    font-size: 18px;
    margin-top: 36px;
  }
  .pl-19{
    font-size: 18px !important;
  }
  .line-1 {
    max-width: 134px;
  }
  .line-2{
    max-width: 226px;
  }
  .line-3{
    max-width: 196px;
  }
  .top-section-daigram > svg{
    max-height: 460px !important;
  }
  .contact-button{
    height: 50px;
    font-size: 18px;
    font-family: poppinsRegular;
  }
  .top-header-logo{
    max-height: 46px;
  }
  .buy-button-container{
    max-width: 562px;
  }
  .buy-token-button{
    height: 58px;
    max-width: 270px;
    font-size: 16px;
  }
  .buy-haka-dp .dropdown{
    max-width: 270px;
    bottom: -82px;
  }
  .pancake-logo{
    max-height: 26px;
  }
  .uniswap-logo{
    max-height: 36px;
  }
  h2{
    font-size: 40px;
  }
  .diagram > svg{
    max-height: 460px !important;
  }
  .second-section{
    padding: 46px 0 30px 0;
  }
  .ecosystem-gif{
    max-height: 430px;
  }
  .product-section{
    padding: 46px 0!important;
  }
  .section-py{
    padding: 46px 0 !important;
  }
  .team-content h3{
    font-size: 20px !important;
  }
  .team-content span{
    font-size: 16px;
    line-height: 20px;
  }
  .team-content p{
    font-size: 13px;
  }
  .tech-team-content p{
    font-size: 12px;
  }
  .advisor-name{
    font-size: 21px;
  }
  .advisor-designation{
    font-size: 18px;
  }
  .advisor-descreption{
    font-size: 17px;
  }
  .advisor-section{
    padding-bottom: 60px;
  }
  .bottom-links > li > a{
    font-size: 18px;
  }
  .switch{
    margin-bottom: 40px;
    height: 56px;
    max-width: 330px;
  }
  .switch-label{
    font-size: 19px;
  }
  .switch-selection{
    width: 160px;
    height: 46px;
  }
  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 163px;
  }
  .switch-app-selection {
    height: 46px;
  }
  .product-card{
    height: 330px;
    max-width: 244px;
  }
  .product-card-top-subtitle{
    font-size: 20px;
  }
  .product-card-title{
    font-size: 26px;
  }
  .product-card-button{
    height: 50px;
    width: 150px;
    font-size: 17px;
  }
  .product-card-bottom-container{
    height: 60px;
  }
  .card-descreption{
    font-size: 14px;
  }
  .card-details-subtitle{
    font-size: 20px;
  }
  .flex-full .team-content p{
    font-size: 14px;
  }
  .diffrence-table-section{
    padding: 40px 90px;
  }
  .diffrence-table > thead > tr > td:first-child {
    width: 400px;
  }
  .diffrence-table tbody tr td:first-child{
    padding: 0 20px 0 30px;
    width: 400px;
  }
  .diffrence-table{
    width: 630px;
    font-size: 14px;
  }
  .diffrence-table > tbody > tr{
    height: 36px;
  }
  .diffrence-table > thead > tr{
    height: 42px;
  }
  .check-cross-icon{
    max-height: 22px;
    max-width: 22px;
  }
  .diffrence-table > thead > tr > td{
    /* padding: 0 20px; */
    width: fit-content;
  }
  .diffrence-table > thead > tr > td{
    padding: 0 10px !important;
  }
  .table-logo{
    min-height: 20px;
    min-width: 20px;
  }
  .bottom-logo{
    max-height: 60px;
  }
  .app-switch{
    margin-bottom: 12px;
  }
  .mobile-app-swiper {
    height: 410px;
  }
  .mobile-app-wrapper{
    height: 378px;
  }
  .mobile-img{
    height: 356px;
  }
  .swiper-mobile-slide{
    padding: 10px 43px;
  }
}



@media screen and (min-width: 1680px) and (max-width: 1800px){
  .container{
    max-width: 1500px !important;
  }
  .top-section-title{
    font-size: 78px;
  }
  .pl-24{
    font-size: 28px;
  }
  .pltform-title{
    font-size: 34px;
  }
  .top-section-subtitle{
    font-size: 28px;
    margin-top: 70px;
  }
  .defi-text{
    font-size: 26px;
    margin-top: 70px;
  }
  .pl-19{
    font-size: 22px;
    line-height: 34px;
  }
  .top-section-daigram > svg{
    min-height: 600px !important;
  }
  .line1{
    max-width: 166px;
  }
  .line-2{
    max-width: 275px;
  }
  .line-3{
    max-width: 242px;
  }
  h2{
    font-size: 60px;
  }
  .header-active{
    height: 96px;
  }
  .header{
    padding: 24px 60px !important;
  }
  .tibeone-diagram-section{
    min-height: fit-content;
  }
  .ecosystem-section{
    min-height: fit-content;
    padding-bottom: 60px;
  }
  .switch{
    margin-bottom: 60px;
  }
  .product-section{
    min-height: fit-content;
    padding-bottom: 70px;
  }
  .diffrence-table-section{
    min-height: fit-content;
  }
  .shaka-section{
    min-height: fit-content;
    padding: 70px 0;
  }
  .roadmap-section {
    min-height: fit-content;
    padding: 70px 120px;
  }
  .advisor-section{
    min-height: fit-content;
    padding-bottom: 70px;
  }
  .product-card{
    margin: 0 30px 0 30px !important;
  }
  .leader-container{
    max-width: 1460px !important;
  }
  .xl-container{
    max-width: 1400px !important;
  }
  .team-img, .team-content{
    height: 100% !important;
  }
  .app-switch{
    margin-bottom: 30px;
    margin-top: 48px;
  }
  .mobile-app-swiper {
    height: 452px;
  }
  .mobile-app-wrapper{
    height: 438px;
  }
  .mobile-img{
    height: 400px;
  }
}


@media screen and (min-width: 1800px) and (max-width: 2000px){
  .container{
    max-width: 1600px !important;
  }
  .top-container-pt{
    padding-top: 180px;
  }
  .pl-24{
    font-size: 30px;
  }
  .pltform-title{
    font-size: 38px;
  }
  .top-section-subtitle{
    font-size: 32px;
    margin-top: 70px;
  }
  .defi-text{
    font-size: 27px;
    margin-top: 70px;
  }
  .pl-19{
    font-size: 22px;
    line-height: 38px;
  }
  .top-section-title{
    font-size: 80px;
  }

  .pl-19{
    font-size: 25px;
  }
  .line-1{
    max-width: max-content;
  }
  .line-2{
    max-width: max-content;
  }
  .line-3{
    max-width: max-content;
  }
  .top-section-daigram > svg{
    min-height: 630px !important;
  }
  h2{
    font-size: 62px;
  }
  .header-active{
    height: 90px;
    padding: 32px 60px !important;
  }
  .header{
    padding: 24px 60px;
  }
  .tibeone-diagram-section{
    min-height: fit-content;
  }
  .ecosystem-section{
    min-height: fit-content;
    padding-bottom: 60px;
  }
  .switch{
    margin-bottom: 60px;
  }
  .product-section{
    min-height: fit-content;
    padding-bottom: 70px;
  }
  .diffrence-table-section{
    min-height: fit-content;
  }
  .shaka-section{
    min-height: fit-content;
    padding: 70px 0;
  }
  .roadmap-section {
    min-height: fit-content;
    padding: 70px 140px;
  }
  .advisor-section{
    min-height: fit-content;
    padding-bottom: 70px;
  }
  .leader-container{
    max-width: 1460px !important;
  }
  .header-active{
    height: 114px;
  }
  .header{
    padding: 28px 60px;
  }
  .fixed-widget-container{
    width: 90px !important;
  }
  .xl-container{
    max-width: 1400px !important;
  }
  .borrow-tabs-swiper{
    max-height: 600px;
  }
  .social-media-icon-container{
    height: 54px !important;
    width: 54px !important;
  }
  .social-media-link-bg{
    height: 54px !important;
    width: 54px !important;
  }
  .medium-icon{
    height: 30px !important;
  }
  .linkedin-icon{
    max-height: 30px !important;
  }
  .github-icon{
    max-height: 34px !important;
  }
  .team-img, .team-content{
    height: 100% !important;
  }
  .app-switch{
    margin-bottom: 30px;
    margin-top: 48px;
  }
  .mobile-app-swiper {
    height: 470px;
  }
  .mobile-app-wrapper{
    height: 460px;
  }
  .mobile-img{
    height: 400px;
  }
}






@media(max-width : 768px){
  .header{
    padding: 28px 0 !important;
  }
  .header-active{
    padding: 20px 0 !important;
  }
  .header-ul{
    padding-top: 70px;
  }
  .header .header-nav ul li a{
    color: #74BDEA !important;
  }
  .contact-button{
    margin: 10px 15px;
    height: 46px;
    width: 130px;
    font-size: 16px;
  }
  .top-section-daigram > svg{
    max-height: 360px !important;
    min-height: auto;
    min-width: auto;
  }
  .top-section-title{
    font-size: 56px;
    margin-top: 20px;
  }
  .top-section-subtitle{
    font-size: 19px;
    margin-top: 30px;
  }
  .pltform-title {
    font-size: 18px;
  }
  .defi-text{
    font-size: 17px;
    margin-top: 60px;
  }
  .pl-19{
    font-size: 17px;
  }
  .line-1{
    max-width: 120px;
  }
  .line-2{
    max-width: 200px;
  }
  .line-3{
    max-width: 170px;
  }
  .top-container-pt {
    padding-top: 96px;
  }
  h2{
    font-size: 26px;
  }
  .title-bottom-line {
    width: 36px;
    height: 6px;
    margin-top: 6px;
  }
  .title-bottom-line-2 {
    width: 120px;
    height: 6px;
    margin-top: 6px;
  }
  .whitelisting-button {
    font-size: 14px !important;
  }
  .buy-button-container{
    max-width: 540px;
    grid-template-columns: repeat(1, 1fr);
  }
  .buy-token-button{
    height: 58px;
    max-width: 100%;
    font-size: 16px;
  }
  .buy-haka-dp .dropdown{
    max-width: 100%;
    width: 100%;
  }
  .dropdown a {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pancake-logo{
    max-height: 26px;
  }
  .uniswap-logo{
    max-height: 36px;
  }

  .tibeone-diagram-section{
    padding: 40px 15px;
    max-width: 100% !important;
  }
  .diagram{
    margin-top: 20px;
  }
  .diagram > svg{
    max-height: 240px !important;
  }
  .descreption-container{
    bottom: 0 !important;
    right: 0px !important;
  }


  /* product-section */
  .switch{
    height: 56px;
    max-width: 270px;
  }
  .app-switch{
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .switch-label {
    font-size: 17px;
  }
  .switch-selection{
    height: 46px;
    width: 132px;
  }
  .switch-app-selection{
    height: 46px;
    width: 132px;
  }
  .switch-app-label{
    font-size: 18px;
  }
  .switch-input-app:checked + .switch-label-borrow-app ~ .switch-app-selection {
    left: 132px;
  }
  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 132px;
  }
  .investment-card-mt{
    margin-top: 0;
  }
  .borrow-product-card{
    max-width: 360px;
    width: 100%;
    margin-top: 30px;
    min-height: fit-content;
  }
  
  .investment-card-bottom-container{
    max-width: 100%;
    left: 0;
  }
  .investment-card-top-container{
    left: 0;
    width: 100%;
    max-width: 100%;
  }
  .margin-x-22{
    margin: 0;
  }
  .card-mt{
    margin-top: 0;
  }
  .product-card{
    margin-top: 30px;
  }
  .pl-24 {
    font-size: 16px;
  }
  .product-section{
    min-height: fit-content;
  }
  .swiper-mobile-slide{
    width: 100%;
    margin-left: 45px;
    margin-right: 45px;
  }
  .swiper-button-next{
    right: 0%;
  }
  .swiper-button-prev{
    left: 0%;
  }

  .shaka-img-card{
    max-height: 324px;
    max-width: 324px;
  }
  .team-left-side-br, .team-bottom-left-side-br, .team-right-side-br, .team-bottom-right-side-br{
    border-radius: 0;
  }
  .team-content{
    height: max-content !important;
  }
  .tech-team-container, .tech-team-content{
    height: fit-content !important;
  }
  .team-img{
    margin-bottom: 0 !important;
    max-height: 300px;
  }
  .tech-team-container .team-img{
    max-height: 260px;
  }
  .tech-team-title-mt{
    margin-top: 60px;
  }
  .advisor-middle-card{
    margin: 40px 0;
  }
  .advisor-card {
    max-width: 330px;
    min-height: fit-content;
    padding-bottom: 30px;
  }
  .advisor-img{
    max-width: 286px !important;
  }
  .advisor-name{
    font-size: 21px;
  }
  .advisor-designation {
    font-size: 18px;
  }
  .advisor-descreption {
    font-size: 13px;
  }
  .advisor-section{
    padding-bottom: 46px;
  }
  .bottom-links-mx{
    margin-left: 30px;
    margin-right: 0;
  }
  .bottom-contact-btn{
    margin: auto 0;
  }
  .bottom-section{
    padding-bottom: 74px;
  }
  .bottom-links > li > a{
    font-size: 16px;
  }
  .diffrence-table-section{
    padding: 40px 15px;
  }
  .table-container{
    overflow-x: scroll;
    margin-top: 20px;
  }
  .diffrence-table tbody tr td:first-child{
    padding: 0 15px 0 50px;
  }
  .diffrence-table{
    font-size: 14px;
  }
  .diffrence-table > thead > tr > td:first-child {
    width: 160px !important;
  }
  .diffrence-table > tbody > tr > td:first-child {
    width: 160px !important;
  }
  .check-cross-icon{
    max-height: 25px;
    max-width: 25px;
  }
  .diffrence-table > thead > tr{
    height: 48px;
    border-radius: 16px 16px 0;
  }
  .diffrence-table > tbody > tr{
    height: 44px;
  }
  .diffrence-table > thead > tr > td{
    width: 70px;
  }
  .diffrence-table > thead > tr > td:last-child{
    width: 80px !important;
  }
  .token-logo-container img{
    max-height: 80px;
    max-width: 80px;
  }
  .bottom-logo{
    max-height: 40px;
  }
  .roadmap-section{
    padding: 46px 15px;
  }
  .mobile-roadmap-container{
    margin-top: 40px
  }
  .roadmap-mobile-container{
    position: relative;
    min-height: 144px;
    max-width: 310px;
    width: 100%;
    box-shadow: 18px 18px 40px rgba(0, 0, 0, 0.20);
    background: linear-gradient(120deg, #F174AC, #7655A2, #95D4CC);
    border-radius: 30px;
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
    margin-top: 18px;
  }
  .year-container{
    height: 144px !important;
    width: 70px;
    min-width: 60px;
    font-size: 22px;
    line-height: 32px;
    padding: 4px;
    display: grid;
    place-items: center;
  }
  .year-container .year{
    font-size: 16px;
  }
  .roadmap-descreption-container{
    height: 144px !important;
    padding: 8px;
    padding-top: 10px;
    width: 100%;
  }
  .quater-points-title{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .quater-points{
    font-size: 12px;
    line-height: 22px;
  }
  .container-point{
    position: absolute;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
    height: 26px;
    width: 26px;
    background: linear-gradient(120deg, #F174AC, #7655A2, #95D4CC);
    border: 4px solid white;
    border-radius: 50%;
  }
  .container-point::before{
    position: absolute;
    content: "";
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    height: 146px;
    width: 0;
    border-left: 2px solid #F5F5F5;
  }
  .roadmap-last-point::before{
    border-color: transparent;
  }
  .video-bottom-note{
    font-size: 11px;
    margin-top: 12px;
  }
  .ecosystem-gif{
    max-width: 100%;
  }
  .partner-carousel{
    height: 280px;
    padding-top: 40px;
    margin-top: 50px;
  }
  .partner-logo-box{
    height: 100px !important;
    width: 130px !important;
    margin:  0 10px;
    border-radius: 22px;
  }
  .mx-h-120{
    max-height: 76px;
    max-width: 114px;
  }
  .backers-section{
    min-height: 390px;
  }
  .partner-button-prev{
    left: 10% !important;
    top: 86% !important;
  }
  .partner-button-next{
    right: 10% !important;
    top: 86% !important;
  }
  .partner-pagination{
    bottom: 30px !important;
  }
  .partner-section{
    padding-bottom: 80px;
  }
}
   
@media (max-width : 351px){
  .roadmap-mobile-container{
    max-width: 290px !important;
  }
  .borrow-product-card{
    min-height: 350px;
  }
  .card-details {
    padding: 24px 16px;
  }
}
@media (max-width : 326px){
  .roadmap-mobile-container{
    max-width: 270px !important;
    min-height: 180px;
  }
  .year-container{
    min-width: 44px;
    font-size: 20px;
  }
  .container-point::before{
    height: 175px;
  }
  .top-section-daigram > svg{
    max-height: 298px !important;
    max-width: 300px !important;
  }
  .top-section-title{
    font-size: 38px;
  }
  .top-section-subtitle{
    font-size: 15px;
  }
  .pltform-title{
    font-size: 15px;
  }
  .defi-text {
    font-size: 15px;
    margin-top: 28px;
  }
  .pl-24 {
    font-size: 14px;
  }
  .line-1 {
    max-width: 104px;
  }
  .line-2 {
    max-width: 173px;
  }
  .line-3 {
    max-width: 148px;
  }
}

@media(max-width : 370px){
  .roadmap-continer{
    max-width: 305px;
  }
}