.partner-container-mt{
  margin-top: 100px;
}
.partner-section{
  padding-top: 120px;
  padding-bottom: 60px;
}
.partner-header{
  background: #FFF;
  padding: 20px 32px !important;
  height: 100px;
}
.partner-header .header-nav ul li a{
  color: rgb(241, 116, 172) !important;
}
.partner-category-title{
  font-size: 24px;
  font-family: poppinsSemiBold;
  color: #000;
}
.partner-category-container{
  width: 210px;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  padding: 17px 15px;
  margin-top: 30px;
}
.partner-type{
  height: 64px;
  width: 100%;
  background: transparent;
  border-radius: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.partner-type:hover{
  background: #f6a2c8;
  box-shadow: 0px 15px 20px rgba(241, 116, 172, 0.4);
}
.partner-type:hover > span{
  color: white !important;
  opacity: 1 !important;
}
.partner-type-active{
  background: #F174AC;
  box-shadow: 0px 15px 20px rgba(241, 116, 172, 0.4);
}
.partner-type-active > span{
  color: white !important;
  opacity: 1 !important;
}
.partner-type > span{
  color: #F174AC;
  font-size: 16px;
  font-family: poppinsSemiBold;
  opacity: 0.5;
  text-transform: uppercase;
  text-align: center;
}
.partner-box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.show-partner-container{
  display: flex;
  opacity: 1;
  visibility: visible;
}
.partner-box{
  height: 314px;
  width: 380px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  margin: 8px;
  padding: 22px 24px;
}
.liqudity-partner-box{
  height: 327px;
}
.partner-icon-container{
  height: 70px;
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-icon{
  max-height: 96%;
  max-width: 94%;
}
.partner-title{
  font-family: poppinsBold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 12px;
}
.partner-summary{
  font-family: poppinsLight;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.black-bg{
  padding: 8px;
  background: #000000;
}



@media(max-width : 1200px){
  .partner-type {
    height: 60px;
  }
  .partner-type >span{
    font-size: 15px;
  }
  .partner-box{
    padding: 18px 16px;
    margin: 6px;
    width: 300px;
    height: 286px;
  }
  .partner-summary{
    font-size: 14px;
    line-height: 19px;
  }
  .partner-icon-container {
    height: 56px;
  }
  .partner-box-container{
    justify-content: left;
  }
  .liqudity-partner-box {
    height: 288px;
  }
  .partner-title{
    font-size: 22px;
    line-height: 34px;
  }
}

@media(max-width : 1400px){
  .partner-type {
    height: 60px;
  }
  .partner-box{
    padding: 20px 22px;
    height: 302px;
    width: 364px;
  }
  .liqudity-partner-box{
    height: 318px;
  }
  .partner-icon-container {
    height: 64px;
  }
  .partner-summary{
    font-size: 15px;
  }
}



@media(max-width : 768px){
  .partner-nav-toggle span{
    background: black;
  }
  .partner-category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    width: 100%;
  }
  .partner-type{
    width: 142px;
    height: 52px;
    padding: 0 4px;
  }
  .partner-type >span{
    font-size: 13px;
  }
  .partner-container-mt{
    margin-top: 54px;
  }
  .partner-box-container{
    margin-top: 40px;
  }
  .liqudity-partner-box , .partner-box{
    height: fit-content;
    padding: 24px 22px;
  }
  .partner-section{
    padding-bottom: 80px;
  }
}