body img{
  max-width : 100%
}
@media (max-width:1199px) {
	.team-img figure {
		height: 100%
	}
	.team-img figure img {
		object-fit: cover;
		height: 100%;
		width: 100%
	}
}

@media (max-width:991px) {
	.header .header-nav ul {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		bottom: 0;
		z-index: 10;
		background-color: #fff;
		overflow-y: auto;
		transition: all .5s ease 0s;
		-moz-transition: all .5s ease 0s;
		-ms-transition: all .5s ease 0s;
		-o-transition: all .5s ease 0s;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out
	}
	.header .header-nav ul.show {
		left: 0;
		display: block
	}
	.logo {
		width: 100%
	}
	.meet-the-tribals ul li {
		flex: 0 0 100%;
		max-width: 100%
	}
	.row-reverse {
		flex-direction: initial
	}
	.row-reverse .team-content::before {
		left: -21px;
		right: auto;
		border-right: 21px solid #72bce9;
		border-left: 0
	}
	.meet-the-tribals ul li:nth-child(2n+2) {
		flex-direction: row-reverse
	}
	.meet-the-tribals ul li:nth-child(2n+2) .team-content::before {
		left: auto;
		right: -21px;
		border-right: 0;
		border-left: 21px solid #72bce9
	}
	.meet-the-tribals ul li.flex-full .team-content::before {
		border-left-color: #fff
	}
	.bottom-footer .c-logo {
		height: 25px;
		flex: 0 0 52px;
		margin-left: 4px
	}
	.our-advisors ul li li {
		font-size: 14px
	}
	.header .header-nav ul li:not(:last-child) {
		margin-right: 0
	}
	.header .header-nav ul li a {
		padding: 10px 15px;
		display: block;
		border-bottom: solid 1px #f5f5f5
	}
	.nav-toggle {
		display: block
	}
	.nav-toggle.show {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		transition: .4s;
		top: 10px
	}
	.nav-toggle.show span:nth-child(3) {
		top: 0;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		transition: .4s
	}
	.nav-toggle span:nth-child(1) {
		top: 0
	}
	.nav-toggle span:nth-child(2) {
		top: 7px
	}
	.nav-toggle span:nth-child(3) {
		top: 14px
	}
	.nav-toggle.show span:nth-child(2) {
		display: none
	}
}

@media (max-width:650px) {
	.our-advisors-row>li,
	.team-content,
	.team-img {
		flex: 0 0 100%;
		max-width: 100%
	}
	.team-content::before {
		display: none
	}
	.meet-the-tribals ul li {
		margin-bottom: 15px
	}
	.flex-full .team-content {
		background-color: #72bce9
	}
	.flex-full .team-content h3,
	.flex-full .team-content p,
	.flex-full .team-content span {
		color: #fff
	}

}