.fixed-widget-container{
  height: fit-content;
  width: 70px;
  position: fixed;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 99;
  right: 0px;
}
.social-media-link-bg{
  height: 46px;
  width: 46px;
  margin: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: #330269;
  transition: all 0.3s;
  border-radius: 50%;
}
.social-media-link-bg:hover .social-media-icons{
 display: none !important;
}
.social-media-link-bg:hover{
  background: transparent;
}
.telegram-icon:hover{
  background-image: url("../images/social-media/telegram-orignal.png");
}
.twitter-icon:hover{
  background-image: url("../images/social-media/twitter-orignal.png");
}
.linkedin-icon-container:hover{
  background-image: url("../images/social-media/linkdin-origanl.png");
}
.medium-icon-container:hover{
  background-image: url("../images/social-media/medium-origanl.png");
  background-size: 28px !important;
  background-color: white;
}
.github-icon-container:hover{
  background-image: url("../images/social-media/github-back-icon.png");
}
.instagram-icon-container:hover{
  background-color: white;
  background-image: url("../images/social-media/instagram.png");
  background-size: 28px !important;
}
.discord-icon-container:hover{
  background-color: white;
  background-image: url("../images/social-media/discord.png");
  background-size: 30px !important
}
.social-media-back-icon{
  max-height: 44px;
}
.social-media-my{
  margin: 10px 0;
}
.medium-icon{
  height: 28px;
}
.linkedin-icon{
  max-height: 25px;
}
.github-icon{
  max-height: 30px;
}


/* top-section-lines */
.svg-line{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: lin infinite linear;
  animation-duration: 6s;
}
@keyframes lin{
  0%{
    stroke-dashoffset: 1000;
  }
  100%{
    stroke-dashoffset: 0;
  }

}
/* .lines-stroke{
  stroke-dashoffset: 0; 
  animation: stroke-dashoffset 12s linear;
} */





/* popup */


.contact-popup{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 800;
  padding: 50px 120px;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.popup-card{
  height: fit-content;
  width: 100%;
  max-height: 780px;
  max-width: 930px;
  background: url("./../images/cropped popup dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  border-radius: 10px;
  border: 2px solid #6526FA;
  box-shadow: 0 63px 99px rgba(37, 38, 98, 0.37);
}
.popup-title{
  font-size: 38px;
}
.popup-descreption{
  font-size: 20px;
  font-family: poppinsLight;
  color: white;
  margin-bottom: 36px;
  margin-top: 15px;
}
.popup-input{
  height: 44px;
  width: 100%;
  font-size: 16px;
  font-family:  poppinsRegular;
  color: black;
  border-radius: 5px;
  outline: none;
  border: 2px solid #F5F6FA;
  padding: 8px 10px;
}
.popup-input-container-mb{
  margin-bottom: 22px;
}
.popup-input::placeholder{
  color: rgba(0, 0, 0, 0.6);
}
.telegram-handle{
  max-height: 120px;
  height: 44px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-family:  poppinsRegular;
  color: black;
  border: 2px solid #F5F6FA;
  padding: 8px 10px;
}
textarea::placeholder{
  color: rgba(0, 0, 0, 0.6);
}
.popup-button{
  height: 44px;
  width: 240px;
  background: #FF2AB6;
  border-radius: 5px;
  font-size: 18px;
  font-family: poppinsBold;
  border: none;
  color: white;
  outline: none;
}
.popup-close-icon{
  cursor: pointer;
}
#submit:disabled{
  background: #d6d6d6;
  box-shadow: none;
  box-shadow: 0 3px 54px rgba(255, 255, 255, 0.43);
}
.popup-question-label{
  font-size: 19px;
  color: white;
  font-family: poppinsBold;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 0;
}
.question-radio-container-mb{
  margin-bottom: 26px;
}
.popup-question{
  font-size: 17px;
  font-family: poppinsMedium;
  color: white;
}
.radio-btn-text {
  font-family: poppinsMedium;
  color: white;
  font-size: 16px;
}
.sum-assured-radio-container{
  margin-top: 25px;
  margin-bottom: 20px;
}
.contact-us-custom-radio{
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border : 1px solid #FF2AB6;
  background: white;
  display: inline-block;
  margin-right: 10px;
}
.contact-us-custom-radio::after{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background:  #FF2AB6;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transform: scale(0);
  transition: all 0.3s;
}
.popup-radio-btn:checked + .contact-us-custom-radio::after{
  opacity: 1;
  transform: scale(1);
}



.thanks-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 800;
  padding: 50px 120px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1000;
}
.thanks-card{
  height: fit-content;
  width: fit-content;
  background: #001345;
  padding: 30px 60px;
  border-radius: 10px;
  border: 2px solid #6526FA;
  box-shadow: 0 63px 99px rgba(37, 38, 98, 0.37);
}
.thanks-title{
  font-size: 30px;
  font-family: poppinsBold;
  color: white;
}
.thanks-subtitle{
  font-size: 20px;
  font-family: poppinsMedium;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  margin-bottom: 30px;
}
.show-popup{
  opacity: 1;
  visibility: visible;
}
.error-massage{
  display: block;
  opacity: 1;
  color: #ff4dc1;
  margin-top: 5px;
  font-size: 14px;
  font-family: poppinsMedium;
}
.show-error{
  opacity: 0;
  display: none;
}
.subscribe-btn{
  position: relative;
  height: 44px;
  width: 160px;
  background: #744593;
  margin-left: 16px;
  outline: none !important;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-family: poppinsSemiBold;
  cursor: pointer;
  transition: all 0.2s both;
  box-shadow: 0 3px 16px rgba(255, 255, 255, 0.43);
  letter-spacing: 1px;
  overflow-x: hidden;
  z-index: 1;
}
.subscribe-btn:disabled{
  background: #744593 !important;
  color: white;
}
.subscribe-btn::before{
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #74BDEA, #95D4CC);
  transition: 0.3s;
  z-index: -1;
  color: white;
}
.subscribe-btn:hover::before{
  left: 0;
}
.blur-bg{
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0);
  backdrop-filter: blur(14px);
  padding: 30px 56px;
}

.fixed-bottom-banner{
  height: 60px;
  width: 100%;
  background: #4C10A0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* bottom: 0; */
  z-index: 600;
}
.fixed-bottom-container-link{
  color: white;
  font-size: 16px;
  font-family: poppinsSemiBold;
  max-width: 600px;
}
.fixed-bottom-container-link:hover{
  text-decoration: none;
}
.bottom-link-container > a:hover{
  color: rgba(255, 255, 255, 0.7);
}
/* .fixed-bottom-banner > a:hover{
  color: ;
} */
.bottom-link-container{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}



@media(max-width : 768px){
  .fixed-widget-container{
    position: relative;
    /* bottom: 60px;
    left: 0; */
    height: 60px;
    width: 100% !important;
    background: #0E0E59;
    transform : none;
  }
  .social-media-link-bg{
    margin:  0 6px !important;
  }
  .contact-popup{
    min-height: 700px;
    height: 100% !important;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
  }
  .popup-card{
    height: 100% !important;
    width: 100%;
    min-height: 700px;
    overflow-y: scroll;
  }
  .blur-bg{
    padding: 20px;
    backdrop-filter: none;
    overflow-y: scroll;
  }
  .popup-close-icon{
    max-height: 20px;
  }
  .popup-descreption{
    font-size: 15px;
  }
  .popup-input{
    height: 48px;
    font-size: 16px;
    padding: 8px 10px;
  }
  .telegram-handle{
    height: 48px;
    font-size: 16px;
  }
  .subscribe-btn{
    margin: 30px 0 0 0;
    width: 100%;
    height: 48px;
  }
  .thanks-container{
    padding: 20px;
  }
  .thanks-card{
    padding: 20px;
  }
  .thanks-title{
    font-size: 26px;
  }
  .thanks-subtitle{
    font-size: 18px;
    margin-bottom: 25px;
  }
  .fixed-bottom-banner{
    overflow-x: scroll;
    text-overflow: ellipsis;
    padding: 4px 12px;
    height: fit-content;
  }
  .fixed-bottom-banner > a{
    color: white;
    font-size: 14px;
    font-family: avenirBold;
  }
  .bottom-link-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1,1fr);
    gap: 4px;
  }
  .fixed-bottom-container-link{
    font-size: 11px;
  }
}