
.loader-theme {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 999;
	align-items: center;
	justify-content: center;
	background-color: #0c005c;
}
svg.logo-svg {
	width: 300px;
}
/* .loder-icon{
	max-height: 260px;
	animation: loader 2s infinite ease-in-out;
}
@keyframes loader{
	0%{
		transform: scale(1);
		opacity: 1;
	}
	50%{
		transform: scale(0.7);
		opacity: 0.5;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
} */
.loader-box{
	height: 300px;
	position: relative;
	animation: blinking 1.4s infinite ease;
	animation-delay: 1.6s;
}
@keyframes blinking{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.6;
	}
	100%{
		opacity: 1;
	}
}
.t-icon-round{
	max-height: 300px;
	max-width: 292px;
	animation: icon-bg 0.6s linear;
}
.t-icon{
	height: 234px;
	max-width: 246px;
	position: absolute;
	top: 58px;
	left: 27px;
}
.t-icon-svg{
	height: 234px;
	max-width: 238px;
	animation-delay: 0.2s;
	animation: t-icon 1s linear;
}
@keyframes t-icon{
	0%{
		transform: scale(1.6);
	}
	50%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes icon-bg{
	0%{
		transform: scale(1.6);
	}
	50%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}















.app-partner-svg-logo .cls-1 {
	fill: #17B8E2;
	stroke: #17B8E2;
	stroke-width: 15;
	stroke-miterlimit: 20;
	stroke-dasharray: 1800;
	transform: scale(0.8);
	transform-origin: center center;
	-webkit-animation: app-partner-svg-logo-1 3s infinite;
	animation: app-partner-svg-logo-1 3s infinite;
}

@-webkit-keyframes app-partner-svg-logo-1 {
	0% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	35%,
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #17B8E2;
		opacity: 1;
		filter: blur(0px);
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

@keyframes app-partner-svg-logo-1 {
	0% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	35%,
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #17B8E2;
		opacity: 1;
		filter: blur(0px);
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

.app-partner-svg-logo .cls-2 {
	fill: #0FAB6E;
	stroke: #0FAB6E;
	stroke-width: 15;
	stroke-miterlimit: 10;
	stroke-dasharray: 1800;
	transform: scale(0.8);
	transform-origin: center center;
	-webkit-animation: app-partner-svg-logo-2 3s infinite;
	animation: app-partner-svg-logo-2 3s infinite;
}

@-webkit-keyframes app-partner-svg-logo-2 {
	0%,
	10% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	52.5%,
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #0FAB6E;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

@keyframes app-partner-svg-logo-2 {
	0%,
	10% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	52.5%,
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #0FAB6E;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

.app-partner-svg-logo .cls-3 {
	fill: #9C0EE0;
	stroke: #9C0EE0;
	stroke-width: 15;
	stroke-miterlimit: 10;
	stroke-dasharray: 1800;
	transform: scale(0.8);
	transform-origin: center center;
	-webkit-animation: app-partner-svg-logo-3 3s infinite;
	animation: app-partner-svg-logo-3 3s infinite;
}

@-webkit-keyframes app-partner-svg-logo-3 {
	0%,
	20% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #9C0EE0;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

@keyframes app-partner-svg-logo-3 {
	0%,
	20% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #9C0EE0;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

.app-partner-svg-logo .cls-4 {
	fill: #1B51D9;
	stroke: #1B51D9;
	stroke-width: 15;
	stroke-miterlimit: 10;
	stroke-dasharray: 1800;
	transform: scale(0.8);
	transform-origin: center center;
	-webkit-animation: app-partner-svg-logo-4 3s infinite;
	animation: app-partner-svg-logo-4 3s infinite;
}

@-webkit-keyframes app-partner-svg-logo-4 {
	0%,
	30% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #1B51D9;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

@keyframes app-partner-svg-logo-4 {
	0%,
	30% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 1800;
	}
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill: #1B51D9;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

.app-partner-svg-logo .cls-5 {
	fill:#f40bb2;
	stroke:#f40bb2;
	stroke-width: 15;
	stroke-miterlimit: 10;
	stroke-dasharray: 4000;
	transform: scale(0.8);
	transform-origin: center center;
	-webkit-animation: app-partner-svg-logo-5 3s infinite;
	animation: app-partner-svg-logo-5 3s infinite;
}

@-webkit-keyframes app-partner-svg-logo-5 {
	0%,
	40% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 4000;
	}
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill:#f40bb2;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

@keyframes app-partner-svg-logo-5 {
	0%,
	40% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 4000;
	}
	70% {
		fill: rgba(255, 255, 255, 0);
		stroke-dashoffset: 0;
	}
	85%,
	90% {
		fill:  #f40bb2;
		opacity: 1;
		transform: scale(0.7);
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}

a:hover {
	transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	-webkit-transition: 0.4s;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

ul li {
	font-size: 14px;
	list-style: none;
}

a:hover,
a:focus {
	text-decoration: none;
}



.heading {
	position: relative;
	padding-bottom: 18px;
}

.heading::before {
	position: absolute;
	left: 0;
	width: 74px;
	height: 8px;
	background:#3d78e3;
	background: -moz-linear-gradient(left, #3d78e3 0%, #72bce9 100%);
	background: -webkit-linear-gradient(left, #3d78e3 0%, #72bce9 100%);
	background: linear-gradient(to right, #3d78e3 0%, #72bce9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d78e3', endColorstr='#72bce9', GradientType=1);
	content: "";
	bottom: 12px;
	border-radius: 2px;
}


/* Header CSS Start */

.header {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 32px;
  z-index: 100;
	transition: all 0.3s;
}
.header-0{
	top: 0 !important;
}
.header-remove{
	top: -120px !important;
}
.header .header-nav {
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	-ms-flex-align: center;
	justify-content: space-between;
	-ms-flex-pack: justify;
}

.header .header-nav ul {
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	-ms-flex-align: center;
}

.header .header-nav ul li:not(:last-child) {
	margin-right: 30px;
}

.header .header-nav ul li a {
	font-size: 15px;
	color:white;
  font-family: poppinsRegular;
}

.header .header-nav ul li a:hover {
	color: #F174AC !important;
}

.header .header-nav ul li.whiter-paper-btn a {
	background: linear-gradient(120deg, #74BDEA, #95D4CC);
	color: #fff;
	position: relative;
	z-index: 1;
  font-size: 21px;
  font-family: poppinsMedium;
  padding: 0 20px;
  height: 58px;
  max-width: 100%;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.nav-toggle {
	display: flex;
	width: 28px;
	flex-direction: column;
	position: absolute;
	right: 0;
	z-index: 999;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	height: 18px;
	display: none;
}

.nav-toggle span {
	width: 28px;
	height: 3px;
	border-radius: 6px;
	background-color: white;
	display: inline-block;
	position: absolute;
	left: 0;
}
.nav-active{
	background-color: black !important;
}




/* About The Token CSS Start */




.token-right ul {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	margin: 0 -12px;
}

.token-right ul li {
	padding: 0 12px;
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 13px;
}

.token-right ul li .token-list-box figure {
	margin-bottom: 8px;
	max-width: 50px;
	max-width: 50px;
}

.token-right ul li .token-list-box h4 {
	font-size: 15px;
	font-weight: 600;
	color: #1c2841;
	margin-bottom: 5px;
}

.token-right ul li .token-list-box p {
	font-size: 13px;
	color: #636875;
	margin-bottom: 0;
}


/* About The Token CSS End */


/* Meet The Tribals CSS Start */

.meet-the-tribals {
	padding: 0;
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff4fd', endColorstr='#ffffff', GradientType=0);
	margin-top: 60px;
}

.meet-the-tribals .heading::before {
	left: 50%;
	transform: translateX(-50%);
}

.meet-the-tribals ul {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

.meet-the-tribals ul li {
	max-width: 50%;
	flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

.meet-the-tribals ul li.flex-full {
	max-width: 100%;
	flex: 0 0 100%;
	-ms-flex: 0 0 100%;
}

.team-img,
.team-content {
	max-width: 50%;
	flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	height: 277px;
}

.team-img figure {
	margin-bottom: 0;
	overflow: hidden;
	height: 100%;
}

.team-img figure img {
	transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	-webkit-transition: 0.4s;
	height: 100%;
	width: 100%;
}

.team-img figure:hover img {
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.team-content {
	padding: 20px;
	background-color: #72bce9;
	position: relative;
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
}

.team-content::before {
	position: absolute;
	left: -21px;
	top: 35px;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-right: 21px solid #72bce9;
	border-bottom: 16px solid transparent;
	content: "";
}

.team-content h3 {
	font-size: 21px;
	color: #fff;
	font-family: poppinsSemiBold;
	margin-bottom: 0;
}



.team-content p {
	margin-bottom: 10px;
	color: #fff;
	font-size: 13px;
	font-family: poppinsLight;
}

.tech-team-content h3 {
	font-size: 20px;
}

.tech-team-content span {
	font-size: 15px;
}


.tech-team-first-member{
	font-size: 13px !important;
}
.linkedin-link {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #fff;
	background-color: #0079b8;
	border-radius: 50%;
	transition: transform 0.4s;
	transform-style: preserve-3d;
}

.linkedin-link:hover {
	background-color: #3d78e3;
	color: #fff;
}

.bottom-footer {
	display: flex;
	display: -ms-flexbox;
	justify-content: space-between;
	-ms-flex-pack: justify;
	align-items: center;
	-ms-flex-align: center;
	margin-top: auto;
}

.company-logos {
	display: flex;
	display: -ms-flexbox;
	justify-content: flex-end;
	flex: 1;
}

.company-logos .c-logo {
	background-color: #f6f6f6;
	flex: 0 0 89px;
	max-width: 89px;
	height: 47px;
	border-radius: 4px;
	overflow: hidden;
	margin-left: 11px;
}

.company-logos .c-logo figure {
	margin-bottom: 0;
}

.flex-full .team-content {
	background-color: #fff;
}

.flex-full .team-content h3 {
	color: #74BDEA;
	font-family: poppinsSemiBold;
	font-size: 22px;
}

.flex-full .team-content span {
	color: #636875;
	font-family: poppinsRegular;
	font-size: 17px;
}

.flex-full .team-content p {
	color: #636875;
	font-family: poppinsLight;
	font-size: 15px;
}

.flex-full .team-content::before {
	border-right-color: #fff;
}

.row-reverse {
	flex-direction: row-reverse;
}

.row-reverse .team-content::before {
	left: auto;
	right: -21px;
	border-right: 0;
	border-left: 21px solid #72bce9;
}

.flex-full.row-reverse .team-content::before {
	border-left-color: #fff;
}
























/* flickty */
.main-carousel{
	height: 400px !important;
	padding-top: 30px;
}
.flickity-viewport{
	height: 300px !important;
}
.flickity-slider{
	padding-top: 40px;
}

.flickity-button {
	position: absolute;
	background: rgba(255, 42, 182, 1) !important;
	border: none;
	color: white !important;
	top: 42% !important;
}
.flickity-prev-next-button.previous {
	left: 90px !important;
}
.flickity-prev-next-button.next{
	right: 90px !important;
}
.flickity-page-dots {
	bottom: 58px !important;
}
.dot{
	background: rgba(255, 42, 182, 1) !important;
}


@media (max-width : 768px) {
	.flickity-page-dots .dot {
		margin:  0 4px !important;
		height: 7px !important;
		width: 7px !important;
	}
	.main-carousel{
		height: 292px !important;
		padding-top: 20px;
		margin-top: 00px;
	}
	.flickity-viewport{
		height: 300px !important;
	}
	.flickity-button {
		top: 39% !important;
	}
	.flickity-prev-next-button.previous {
		left: 10px !important;
	}
	.flickity-prev-next-button.next{
		right: 10px !important;
	}
	.flickity-page-dots {
		bottom: 58px !important;
	}
}

