.descreption-container{
  position: absolute;
  bottom: 60px;
  right: 120px;
  height: fit-content;
  max-width: 300px;
  background: white;
  box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 25px 20px 20px 20px;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.show-descreption{
  opacity: 1;
  visibility: visible;
}
.diagram-descreption{
  font-size: 17px;
  font-family: poppinsLight;
  color: #000000;
  margin-top: 24px;
}
.descreption-img{
  max-height: 70px;
}
.binance-img{
  display: none;
  max-height: 60px;
}
.show-binance-img{
  display: block;
}
.diagram{
  margin-top: 70px !important;
}
.diagram > svg{
  max-height: 470px;
}

.file:hover  .descreption-container{
  opacity: 1;
}







/* polkadot */
.insurance-board{
  animation: heartbit 2s infinite linear;
}
.Polkadot{
  animation: heartbit 2s infinite linear;
  animation-delay: 0.2s;
  cursor: pointer;
}
#mobile-image{
  animation: heartbit 2s infinite linear;
  animation-delay: 0.4s;
}
.hakacoin{
  animation: heartbit 2s infinite linear;
  animation-delay: 0.8s;
}
.sme-loan{
  cursor: pointer;
  animation: heartbit 2s infinite linear;
  animation-delay: 0.8s;
}
.nft{
  animation: heartbit 2s infinite linear;
  animation-delay: 1s;
}
.file{
  animation: heartbit 2s infinite linear;
  animation-delay: 1s;
}
#_ëîé_1{
  animation: heartbit 2s infinite linear;
  cursor: pointer;
}
@keyframes heartbit{
  0% {
    transform: translate(5px, 0px);
  }
  50%{
    transform: translate(5px, 15px);
  }
  100%{
    transform: translate(5px, 0px);
  }
}
#freepik--App--inject-182-2, .polkacover-icon{
  transition: all 0.3s;
}



#loan_to_micro_financers, #freepik--folder--inject-77, #freepik--folder--inject-77-2, #insurance, #new_device{
  cursor: pointer;
}
#Layer_1-3, #Layer_2-3, #Polygon_24, #Group_5198, #crypto_haka{
  cursor: pointer;
}






/* top-section-daigram */
.top-section-daigram > svg{
  max-height: 500px;
}

@media(max-width : 1160px){
  .top-section-daigram > svg{
    min-height: 300px !important;
    max-height: 400px !important;
    min-width: 340px !important;
  }
  .header .header-nav ul li:not(:last-child){
    margin-right: 12px;
  }
}

.svg > svg{
  max-height: 700px;
  margin-left: 100px;
  margin-top: 100pxl
 }

/* pipeLine */
#Path_21415, #Path_21441 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 4s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* pipeLine */
 #Path_21441{
  animation: cityDash 4s linear infinite;
}

@keyframes cityDash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 300;
  }
}

/*right coin*/
#coin_right{
  animation: coinUpDown 3s linear infinite;
}
@keyframes coinUpDown{
  0%{
    transform: translate( 0%, -6%);
  }
  50%{
    transform: translate( 0%, -1%);
  }
  100%{
    transform: translate( 0%, -6%);
  }
}
#coin_left{
animation: coinUpDown 3s linear infinite;
}
@keyframes coinUpDown{
0%{
  transform: translate( 0%, -6%);
}
50%{
  transform: translate( 0%, -1%);
}
100%{
  transform: translate( 0%, -6%);
}
}

#logo_shade_tribeone{
  animation: tribeonelogo 3s infinite linear !important; 
  animation-delay: 0.5s;
}

@keyframes tribeonelogo{
  0% {
    transform: translate(0, -1%);
  }

  50% {
      transform: translate(0, -6%);
  }
  100% {
      transform: translate(0, -1%);
  }
}
/*nft building*/
#nft-building{
animation : building 2s linear infinite;
}

@keyframes building{
  0%  { 
    transform: translate(1%, -1%);
  }
  50% {  
    transform: translate(-1%, -0.2%);
  }
  100% {  
    transform: translate(1%, -1%);
  }
} 
/*Group_6994*/
.outside-building-top{
  animation : buildingTop 3s linear infinite;
  animation-delay: 1s;
}

@keyframes buildingTop{
0%  { 
  transform: translate(-4%, -4%);
}
50% {  
  transform: translate(-4%, 2%);
}
100% {  
  transform: translate(-4%, -4%);
}
}

.coin-cover{
  animation: coincover 3s infinite ease-in-out;
}
@keyframes coincover {
  0%  { 
    opacity: 0;
  }
  50% {  
    opacity: 1;
  }
  100% {  
    opacity: 0;
  }
}

